rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Function to check if user is authenticated
    function isSignedIn() {
      return request.auth != null;
    }

    // Function to check if the user is research staff
    function isResearchStaff() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.userType == "staff";
    }

    // Rules for the `users` collection
    match /users/{userId} {
      allow read, write: if isSignedIn() && (request.auth.uid == userId || isResearchStaff());
    }

    // Rules for all other collections
    match /{collection}/{document} {
      allow read: if true;
      allow write: if isResearchStaff();
    }
  }
}
