rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isSuperUser() {
      return isSignedIn() && request.auth.uid == "rRcvNxC7lgaTgqkXd6UWqyJ2KuQ2";
    }

    function isResearchStaff() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.userType == "staff";
    }

    // Prevent users from elevating their own privileges
    function isCreatingOrUpdatingSelfProperly(userId) {
      return request.auth.uid == userId &&
             (!("userType" in request.resource.data) ||
              request.resource.data.userType == "user");
    }

    match /users/{userId} {
      allow read: if isSignedIn() && (request.auth.uid == userId || isResearchStaff() || isSuperUser());

      // Allow delete if user is deleting their own doc
      allow delete: if isSignedIn() && request.auth.uid == userId;

      allow write: if isSignedIn() && (
        isSuperUser() ||
        isResearchStaff() ||
        (request.auth.uid == userId &&
         (!("userType" in request.resource.data) ||
          request.resource.data.userType == "user"))
      );
    }


    match /{collection}/{document} {
      allow read: if true;
      allow write: if isResearchStaff() || isSuperUser();
    }
  }
}
